{% extends 'base.html' %}


{% block title %}
  new
{% endblock title %}


{% block content %}
  <h2>NEW</h2>
  <form action="{% url 'articles:create' %}" method="post">
    {% csrf_token %}
    <label for="title">TITLE: </label>
    <input type="text" id='title' name='title'><br>
    <label for="content">CONTENT: </label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
    <input type="submit" value='작성'>
  </form>
  <a href="{% url 'articles:index' %}">BACK</a>
{% endblock content %}