{% extends 'base.html' %}

{% block content %}
  <h1 class='text-center'>{{ person.username }}의 프로필</h1>
  <hr>
  <div class="jumbotron">
    <p class="lead">
      팔로워: <span id="followers">{{ person.followers.all|length }}</span> / 팔로잉: <span id="followings">{{ person.followings.all|length }}</span>
    </p>
    {% if request.user != person %}
      <form data--person-pk="{{ person.pk }}" id="follow-form" method="post">
      {% csrf_token %}
      {% if request.user in person.followers.all %}
        <input id="follow-button" class="btn btn-secondary" type="submit" value="Unfollow">
      {% else %}
        <input id="follow-button" class="btn btn-primary" type="submit" value="Follow">
      {% endif %}
      </form>
    {% endif %}
  </div>
  <hr>
  <h2>작성한 게시글</h2>
  {% for article in person.article_set.all %}
    <div>{{ article.title }}</div>
  {% endfor %}
  <hr>
  <h2>작성한 댓글</h2>
  {% for comment in person.comment_set.all %}
    <div>{{ comment.content }}</div>
  {% endfor %}
  <hr>
  <h2>좋아요한 게시글</h2>
  {% for article in person.like_articles.all %}
    <div>{{ article.title }}</div>
  {% endfor %}

  <a href="{% url 'articles:index' %}">[back]</a>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followForm = document.querySelector('#follow-form')

    if (followForm) {
      followForm.addEventListener('submit', function (event) {
        event.preventDefault()
        const personPk = event.target.dataset.PersonPk
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      
        axios.post(`http://127.0.0.1:8000/accounts/${personPk}/follow/`, {}, {
          headers: {'X-CSRFToken': csrftoken}
        })
        .then(function (res) {
          const followButton = document.querySelector('#follow-button')
          const followers = document.querySelector('#followers')
          const followings = document.querySelector('#followings')
          
          followButton.value = res.data.follow ? 'Unfollow' : 'Follow'
          followButton.classList.toggle('btn-primary')
          followButton.classList.toggle('btn-secondary')
          followers.innerText = res.data.followers
          followings.innerText = res.data.followings
        })
        .catch(function (err) {
          console.log(err)
        })
      })
    }
  </script>
{% endblock  %}