<div class="jumbotron">
  <p class="lead">
    팔로워: {{ person.followers.all|length }} / 팔로잉: {{ person.followings.all|length }}
  </p>
  {% if request.user != person %}
    <form action="{% url 'accounts:follow' person.pk %}" method="post">
    {% csrf_token %}
    {% if request.user in person.followers.all %}
      <input class="btn btn-secondary" type="submit" value="Unfollow">
    {% else %}
      <input class="btn btn-primary" type="submit" value="Follow">
    {% endif %}
    </form>
  {% endif %}
</div>